 #fpform {
     position: absolute;
     width: 100%;
     height: 611px;
     left: 0%;
     right: 0%;
     top: 234px;
     bottom: 235px;
     background: #F2F2F2;
     /* H1 */
     font-family: Sarabun;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 130%;
     /* identical to box height, or 62px */
     text-align: center;
     /* Primary color / Dark */
     color: #333333;
 }

 #forgotpassword {
     position: absolute;
     width: 422px;
     height: 63px;
     left: calc(50% - 422px/2);
     top: 82px;
     /* H1 */
     font-family: Sarabun;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 130%;
     /* identical to box height, or 62px */
     text-align: center;
     /* Primary color / Dark */
     color: #333333;
 }

 #email {
     position: absolute;
     width: 360px;
     height: 64px;
     left: calc(50% - 360px/2);
     top: 196px;
     background: #FFFFFF;
     border: 1px solid #000000;
     box-sizing: border-box;
     border-radius: 5px;
     /* Body 20 */
     font-family: Sarabun;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 30px;
     /* identical to box height, or 150% */
     align-items: center;
     padding-left: 24px;
 }

 #btnsend {
     position: absolute;
     width: 360px;
     height: 64px;
     left: calc(50% - 360px/2);
     top: 284px;
     /* Primary color / Dark */
     background: #333333;
     border-radius: 5px;
     /* Text */
     font-family: Sarabun;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 130%;
     /* identical to box height, or 23px */
     align-items: center;
     text-align: center;
     color: #FFFFFF;
 }

 #linktologin {
     position: absolute;
     width: 98px;
     height: 30px;
     left: calc(50% - 98px/2);
     top: 372px;
     font-family: Sarabun;
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 30px;
     /* identical to box height, or 187% */
     display: flex;
     align-items: center;
     text-align: center;
     text-decoration-line: underline;
     /* Primary color / Dark */
     color: #333333;
 }